body
{
    margin: 0;
    font-family: sans-serif;
}

.superior
{
    vertical-align: middle;
    width: 158px;
    padding: 16px;
}

.barra_superior
{
    background-color: #3c3c3c;
    width: 100%;
}

.datos
{
    flex-direction: column;
    text-align: center;
    margin-top: 5%;
}

.priv
{
    margin: 50px;
}

input
{
    font-size: 16px;
    width: 680px;
    height: 25px;
}

button
{
    color: #ffffff;
    background-color: #014f94;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    height: 30px;
    width: 65px;
    font-size: 14px;
    margin: 0 22px;
}

.mensaje
{
    background-color: #467a49e0;
    position: absolute;
    width: 300px;
    margin-left: 40%;
    margin-top: 10px;
    padding: 8px;
    border-radius: 3px;
    text-align: center;
    color: #ffffff;
    display: none;
}

@media only screen and (max-width: 750px)
{
    input
    {
        width: 75%;
    }
}